<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Title1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Title2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Title3</a>
        </li>
    </ul>
</nav>
{% block content %}


{% endblock %}
<footer>
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-1">
            <h2>Title1</h2>
            <ul style="list-style-type: none">
                <li>part1</li>
                <li>part2</li>
                <li>part3</li>
            </ul>
        </div>
        <div class="col-md-3 offset-1">
            <h2>Title2</h2>
            <ul style="list-style-type: none">
                <li>part1</li>
                <li>part2</li>
                <li>part3</li>
            </ul>
        </div>
        <div class="col-md-3 offset-1">
            <h2>Title3</h2>
            <ul style="list-style-type: none">
                <li>part1</li>
                <li>part2</li>
                <li>part3</li>
            </ul>
        </div>
    </div>
</div>
</footer>
</body>
</html>